!doctype html>
<html ng-app="cadastrocloudApp">
    <head>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">
        <script>
        globals = {
            cadastroUrl: '{% url "cadastro" %}'
        }
        </script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/core.js"></script>
    </head>
    <body>
        <div ng-controller="cadastroCtrl">
            
            <div ng-repeat="c in data.cadastro track by c.id">
                
                <p>{$c.cadastro$}</p>
                <a href="#" ng-click="removerCadastro(c)">remover</a>
                <hr>
            </div>
            <div class="pure-alert pure-alert-success" ng-show="data.success">
                <b>Atualizado!</b>
                <br><br>
            </div>
            <br>
            <form class="pure-form pure-form-aligned" ng-submit="updateCadastro()">
                <label>CPU:</label>
                <input type="text" name="cpu" ng-model="data.cpu" >
                <br><br>
                <label>Memoria:</label>
                <input type="text" name="memoria" ng-model="data.memoria" >
                <br><br>
                <label>Disco:</label>
                <input type="text" name="disco" ng-model="data.disco" >
                <br><br>
                <label>SistemaOperacional:</label>
                <textarea name="sistemaoperacional" ng-model="data.sistemaoperacional" ></textarea>
                <input type="submit" value="Adicionar">
            </form>
            <hr>
        </div>
    </body>
</html>